<title>Tracking Things Server</title>
<meta name="viewport" content="width=device-width">
<script type="text/javascript" src="{{ url_for('static', filename='styles/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='styles/bootstrap.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/bootstrap.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/bootstrap-theme.min.css')}}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
