<!DOCTYPE html>
<html>
<head>
    {% include 'header.html' %}
</head>
<body>
{% include 'menu.html' %}
<div class="container-fluid">

    <div class="main">

        {% if message is defined %}
        <div class='alert alert-{{alertlevel}}'>{{message}} {{user.name}}</div>
        {% endif %}
        <h2>2Ts - Server</h2>
        <p>This is the Tracking Things Server. Here you can manage Things, Users and Locations</p>
    </div>
    <script src="{{url_for('static', filename='styles/message.js')}}"></script>
</div>
</body>
</html>
