<!doctype html>
<html>
<head>
    {% include 'header.html' %}
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/thingsgrid.js') }}"></script>

</head>
<body>
{% include 'menu.html' %}

<div class="container-fluid">


    <div class="main">
        {% if message is defined %}
        <div class='alert alert-{{alertlevel}}'>{{message}}</div>
        {% endif %}
        <h1>Things Manager</h1>
        <div class="col-sm-12">
            <button type="button" id="btn_novo" class="btn btn-success">Novo Item</button>
        </div>
        <div class="form-group col-sm-3">
            <fieldset>
                <legend>Pesquisa</legend>
                <form action="thingsgrid" method="get">
                    <select class="form-control" id="tipo_busca" name="tipo_busca">
                        <option value="-1">Selecione o tipo de busca</option>
                        <option value="1">Busca itens por setor</option>
                        <option value="2">Busca itens sobrando por setor</option>
                        <option value="3">Busca itens faltando por setor</option>
                        <option value="4">Busca iten por número</option>
                    </select>

                    <select class="form-control" id="dado_busca" name="dado_busca">
                        <option value="-1">Selecione o setor</option>

                        {%for location in locations%}
                        <option value="{{location.loca_id}}">{{location.loca_room}}</option>
                        {%endfor%}
                    </select>
                    <div class="form-group" id="dado_busca2" style="display:none;">
                        <label for="dado_b">Informe o número do item</label>
                        <input type="text" class="form-control" id="dado_b" name="dado_busca2">
                    </div>
                    <button type="submit" name="acao" value="search" id="btn_pesquisar" class="btn btn-success">
                        Pesquisar
                    </button>
            </fieldset>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nº</th>
                <th>Descrição</th>
                <th>Situação</th>
                <th>Estado</th>
                <th>Setor</th>
                <th>Setor Atual</th>
                <th>Ativo</th>
            </tr>
            </thead>

            <tbody>
            {% if things is defined %}
            {%for thing in things%}

            <tr>
                <th scope="row">{{thing.nr_things1}}</th>
                <td>{{thing.description}}</td>
                <td>{{thing.situation}}</td>
                <td>{{thing.state}}</td>
                <td>{{thing.location.loca_room}}</td>
                <td>{{thing.location_current.loca_room}}</td>
                <td>{{thing.tag_activated}}</td>
            </tr>
            {%endfor%}
            </tbody>
            {% else %}
            {% endif %}

        </table>
        <!--<div class="col-sm-2">-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
        <!--<button class="btn btn-danger btn-block" type="submit"><i class="fa fa-arrow-left"-->
        <!--aria-hidden="true"></i>-->
        <!--Back-->
        <!--</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</form>-->
        <!--</fieldset>-->
        <!--</div>-->
    </div>
    <script src="{{url_for('static', filename='styles/message.js')}}"></script>

</body>
</html>