<!doctype html>
<html>
<head>
    {% include 'header.html' %}
</head>
<body>
{% include 'menu.html' %}

<div class="container-fluid">

    <div class="main">
        {% if message is defined %}
        <div class='alert alert-{{alertlevel}}'>{{message}}</div>
        {% endif %}
        <h1> Users Manager </h1>

        <fieldset>
            <legend><i class="fa fa-search" aria-hidden="true"></i> Search</legend>
            <form class="form-horizontal" action="findUser" method="post">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="userId">*Users: </label>
                    <div class="col-sm-10">
                        <select class="form-control" id="userId" name="userId">
                            {%for user in users%}
                            <option value="{{user.id}}">{{user.name}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-success btn-block" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Find</button>
                    </div>
                </div>
            </form>
        </fieldset>
        <br>
        <fieldset>
            {% if user1 is defined %}
            <legend>Edit</legend>
            <form class="form-horizontal" method="POST" action="editUser">
                {% else %}
                <legend><i class="fa fa-plus" aria-hidden="true"></i> Add</legend>
                <form class="form-horizontal" method="POST" action="adduser">
                    {% endif %}
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="name">*Name: </label>
                        <div class="col-sm-10">
                            {% if user1 is defined %}
                            <input class="form-control" required type="text" id="name" name="name"
                                   value="{{user1.name}}">
                            {% else %}
                            <input class="form-control" required type="text" id="name" name="name">
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">*Email: </label>
                        <div class="col-sm-10">
                            {% if user1 is defined %}
                            <input class="form-control" required type="text" id="email" name="email"
                                   value="{{user1.email}}">
                            {% else %}
                            <input class="form-control" required type="text" id="email" name="email">
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="password">*Password: </label>
                        <div class="col-sm-10">
                            <input class="form-control" required type="password" id="password" name="password">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="permission">*Access permission: </label>
                        <div class="col-sm-10">
                            {% if user1 is defined %}
                            <input required class="form-control" type="number" id="permission" name="permission"
                                   value="{{user1.permission}}">
                            {% else %}
                            <input required class="form-control" type="number" id="permission" name="permission">
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row" style="margin: 0px;">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-4">
                                {% if user1 is defined %}
                                <input type="hidden" value="{{user1.id}}" name="id1">
                                <button class="btn btn-info btn-block" type="submit"><i class="fa fa-pencil"
                                                                                        aria-hidden="true"></i>
                                    Update
                                </button>
                                {% else %}
                                <button class="btn btn-success btn-block" type="submit"><i class="fa fa-floppy-o"
                                                                                           aria-hidden="true"></i>
                                    Save
                                </button>
                                {% endif %}
                                <br>
                            </div>
                            <div class="col-sm-4">
                                <a class="btn btn-danger btn-block" href="/usersgrid"><i class="fa fa-arrow-left"
                                                                                aria-hidden="true"></i>
                                    Back
                                </a>
                            </div>
                        </div>
                    </div>
                    {% if user1 is defined %}
                </form>
                {% else %}
            </form>
            {% endif %}
        </fieldset>

    </div>
    <script src="{{url_for('static', filename='styles/message.js')}}"></script>
</div>

</body>
</html>